body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#movie-title {
    font-size: 20px;
    font-weight: bold;
    color: #325181;
    display: inline;
}

#movie-director {
    font-size: 17px;
    font-weight: bold;
    color: black;
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

#synopsis {
    text-indent: 2em;
    margin-top: 10px;
}

.navbar-viseo {
    background-color: #1B3866 !important;
}

.copyright {
    color: #1b3866;
}

.navbar-brand {
    color: #f1f1f1 !important;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    color: white !important;
}